body.mobile {
  .light_table td {
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn_xs_lg_mob,
  .btn_xs_lg {
    min-width: 122px;
    padding: 20px 16px;
    line-height: 1.3;
  }
  .mob_hidden {
    display: none !important;
  }
}
