.ixTfPP {
  width: 100%;
}
.kJnpoy {
  border: 1px solid #ced4da !important;
  padding: 20px 10px !important;
}
.hlTfmo {
  align-items: unset !important;
  display: block !important;
  .credit-card-input {
    font-size: 1.2em !important;
  }
}
